<!DOCTYPE CSS>

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1D2457;
    color: ghostwhite
  }

  .header {
    background-color: #599BD9;
    padding: 30px;
    text-align: center;
    color: darkblue
  }

  #navbar {
    overflow: hidden;
    background-color: #333;
  }

  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #navbar a:hover {
    background-color: #6BC9DC;
    color: black;
  }

  #navbar a.active {
    background-color: #3F62FA;
    color: white;
  }


  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky+.content {
    padding-top: 60px;
  }



  div.gallery {

    border: 1px solid #ccc;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;

  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  * {
    box-sizing: border-box;

  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;

  }

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;

    }
  }

  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;

  }

  .checked {
    color: orange;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: blue;
    color: white;
  }
