
  body {
      margin: 0;
      font-size: 28px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #1D2457;
      color: ghostwhite
    }
  
  #navbar {
    overflow: hidden;
    background-color: #333;
  }

  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #navbar a:hover {
    background-color: #6BC9DC;
    color: black;
  }

  #navbar a.active {
    background-color: #3F62FA;
    color: white;
  }


  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky+.content {
    padding-top: 60px;
  }

    body {
   background-image:
   url('security images/denim.png');
}

.samenvatting {
  display: none;
  padding: 10px;
  margin-top: 5px;
}

#samenvatting1:checked + .titel + .samenvatting,
#samenvatting2:checked + .titel + .samenvatting,
#samenvatting3:checked + .titel + .samenvatting,
#samenvatting4:checked + .titel + .samenvatting,
#samenvatting5:checked + .titel + .samenvatting,
#samenvatting6:checked + .titel + .samenvatting, 
#samenvatting7:checked + .titel + .samenvatting,
#samenvatting8:checked + .titel + .samenvatting,
#samenvatting9:checked + .titel + .samenvatting,
#samenvatting10:checked + .titel + .samenvatting{
  display: block;
}

.titel {
  padding: 10px;
  cursor: pointer;
  user-select: none; }

input[type="checkbox"] {
  display: none;
}


